// Colors
$color-primary: #fd5f2b;
$color-primary-light: rgba(253, 95, 43, 0.22);
$color-primary-light-shade: #F59156;
$color-grey-dark: #313131;
$color-white-light: rgba(255, 255, 255, 0.29);
$color-secondary: #3262A1;
$color-white: #ffffff;
// Height, width
$nav-height: 9rem;
// Placeholder variables
$pseudo-phprefix: "::-webkit-input-placeholder" "::-moz-placeholder" ":-ms-input-placeholder" "::placeholder";

