*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

@media screen and (min-width: 2000px) {
 html {
    font-size: 75%;
 }
}